
.tablesorter .tablesorter-headerUnSorted:before{
	content: "\f0dc";  /* this is your text. You can also use UTF-8 character codes as I do here */
    	font-family: FontAwesome;
	float: right;
}

.tablesorter .tablesorter-headerAsc:before{
	content: "\f0dd";  /* this is your text. You can also use UTF-8 character codes as I do here */
    	font-family: FontAwesome;
	float: right;
}

.tablesorter .tablesorter-headerDesc:before{
	content: "\f0de";  /* this is your text. You can also use UTF-8 character codes as I do here */
    	font-family: FontAwesome;
	float: right;
}

.clipboard-urls{
	opacity: 0;
	width: 0px;
	height: 0px;
}
/*
 * Temp fix for has_permission_add issue for nestedinlines (as long as it is in django admin it should be a security issue)
  */
#videos tr.add-row, [id^=project_set][id$=videos] tr.add-row{
	display:none;
}
