<p>Hallo {{ client_firstname }} {{ client_lastname}},</p>

<p>bzgl. <b>{{ project_name }}</b></p>

{% for v in video %}
{{v.title}} <br>
URL: {{v.url}} <br>
Review-URL: {{v.url_review}} <br>
Passwort: {{v.vimeo_passwd}} <br>
Download-URL: {{v.url_download}} <br><br>
{% endfor %}

lg Filmagio
