<table>
    <caption><a class="/admin/auth">Last videouploads</a></caption>
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for d in data %}
        <tr>
            <th><a href="/admin/app/project/{{ d.project_id }}/change#videos">{{ d.title}}</a></th>
            <th style="white-space: nowrap">{{ d.created}}</th>
            <th style="white-space: nowrap">{{ d.updated}}</th>
            <th>{{ d.status}}</th>
        </tr>
    {% endfor %}
    </tbody>
</table>